<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Contact Us</h1>
    </div>
  </div>
</section>
<div class="columns mx-2 my-2">
  <div class="column mx-2">
    <!-- form goes here -->
    <form>
      <!-- name -->
      <div class="field">
        <input type="text" name="name" class="input" placeholder="Your Name" />
      </div>
      <!-- email -->
      <div class="field">
        <input
          type="email"
          name="email"
          class="input"
          placeholder="Your Email"
        />
      </div>
      <!-- message -->
      <div class="field">
        <textarea
          class="textarea"
          name="message"
          placeholder="What's on your mind?"
        ></textarea>
      </div>
      <button type="submit" class="button is-primary">Submit</button>
    </form>
  </div>
  <div class="is-divider-vertical" data-content="CONTACT US"></div>
  <div class="column mx-2 has-text-centered">
    JOHN SMITH<br/>
    300 BOYLSTON AVE E<br/>
    SEATTLE WA 98102<br/>
    USA<br/>
  </div>
</div>
